*{
text-decoration: none;
color: inherit;
font-family: 'Montserrat';
}

.page{
width: 1360px;
margin: 0 auto;
}
.first-back{
  background-image: url(section_1.jpg);
  height: 900px;
  width: 1360px;
}

.navbar{
  display: flex;
  align-items: center;
  background-color: rgba(94, 93, 88, 0.6);;
  width: 100%;
  height: 100px;
}

.logo_letter{
display: flex;
align-items: center;
justify-content: center;
font-style: normal;
font-weight: 700;
font-size: 40px;
color: white;
background-image: url(Polygon1.svg);
background-repeat: no-repeat;
background-size: 100%;
width: 58px;
height: 67px;
margin-left: 180px;
margin-top: 43px;
}

.theHam{
  margin-right: 150px;
  margin-top: 10px;
 
}

.the{
  font-weight: 400;
  font-size: 32px;
  color: aliceblue;
}

.ham{
  font-style: normal;
  font-weight: 600;
  font-style: 32px;
  color:  #18CFAB;;
}

.list{
  display: flex;
  text-align: center;
  list-style-type: none;
  margin-top: 28px;
}

.item{
  margin-right: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.search_icon{
  size: 18px;
  margin-top: 18px;
}

.head_1{
  width: 100%;
  height: 35px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_1{
  width: 637px;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
}

.text_theme{
  color: #18CFAB;
}

.head_2{
  width: 100%;
  height: 80px;
  margin-top: 17px;
}

.text_2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #fff;
 
}

.head_3{
  width: 100%;
  height: 34px;
  margin-top: 17px;
}

.text_3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #D4D4D4;
  
}

.button{
  width: 100%;
  height: 146px;
  display: flex;
  justify-content: center;
  padding-top: 44px;
  margin-top: 100px;
}

.button1{
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.but1{
  width: 149px;
  height: 53px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background: #18CFAB;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.button2{
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.but2{
  width: 149px;
  height: 53px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background: #00CBF6;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.content_2{
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;

}
.cub1{
  width: 340px;
  height: 280px;
  background-color: #1C2A33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.icon_1{
  width: 57px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 80px;
}

.text_type1{
  color: #18CFAB;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.cub2{
  width: 340px;
  height: 280px;
  background-color: #18CFAB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon_2{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 80px;
}

.text_type2{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.cub3{
  width: 340px;
  height: 280px;
  background-color: #1C2A33;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon_3{
  width: 57px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 80px;
}

.text_type3{
  color: #18CFAB;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.cub4{
  width: 340px;
  height: 280px;
  background-color: #18CFAB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon_4{
  width: 93px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 80px;
}

.text_type4{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.section_1{
  width: 1060px;
  height: 475px;
  margin: 0 auto;
  margin-top: 83px;
}

.title_2{
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 36px;
  
}

.itemnav{
  width: 100%;
  height: 56px;
  display: flex;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: 70px;
}

.nav_1{
width: 210px;
height: 56px;
display: flex;
justify-content: space-between;
justify-content: center;
align-items: center;
padding: 0;
color: #717171;
background-color: #F8FCFE;
border: 1px solid #EDEFEF;
cursor: pointer;
}

.nav_1.active{
  background-color: #18CFAB;
  color: white;
}

.pict1{
  width: 192px;
  height: 139px;
}
.info1{
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  color: #777777;
  margin-left: 15px;
}
.main_div_content{
  width: 1060px;
  height: 139px;
  padding: 0;
}

.div1{
  display: none;
}

.div1.active_div{
  width: 1060px;
  height: 139px;
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  padding: 0;
}


.section_2{
  width: 100%;
  height: 476px;
  background-image: url(section-2.jpg);
  background-repeat: no-repeat;  
  margin: 0 auto;
}
.background_color{
  content: '';
  width: 100%;
  height: 476px;
  background-color: rgba(0,0,0,0.7);
}

.headline{
  padding-top: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_3{
  font-weight: 700;
  font-size: 40px; 
  text-transform: uppercase;
  color: #18CFAB;

}

.undertitle{
  font-weight: 400;
  font-size: 16px;
  color: #D8D8D8;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button_3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.but_3{
  width: 168px;
  height: 63px;
  background: #18CFAB;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  margin-top: 67px;
  cursor: pointer;
}

.section_3{
  width: 100%;
  height: 1220px;
  background: #E9EDEF;

}
.section_3__click{
  width: 100%;
  height: 1840px;
  background: #E9EDEF;
  
}

.headline_2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 95px;

}


.title_4{
  font-weight: 400;
  font-size: 36px;
  color: #4E4E4E;
}

.line{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styleLine{
  width: 93px;
  height: 8px;

}

.menu{
  width: 589px;
  height: 62px;
  margin: 0 auto;
  margin-top: 69px;
}

.menulist{
  width: 589px;
  height: 62px;
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
  padding: 0 ;
  cursor: pointer;
}

.menuItem{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DADADA;
  font-weight: 400;
  font-size: 14px;
  padding: 13px 15px 14px 15px;
  cursor: pointer;
}
.active_item{
  border-color: #18CFAB;
  color: #18CFAB;
}

.images{
  width: 1140px;
  height: 618px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #E9EDEF;
  max-height: auto;
}
.hide{
  display: none;
}
.section_3__img{
  width: 100%;
  height: 100%;
  margin: 0 ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.section_3__loadImg{
  display: none;
}
.section_3__loadImg_click{
  width: 1140px;
  height: 100%;
  margin: 0 ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.firstIcon{
  width: 285px;
  height: 211px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon_main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wordcombination{
  font-weight: 700;
  font-size: 14.1771px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #18CFAB;
  margin-top: 24px;
}

.img_amazing{
  width: 285px;
  height: 211px;
}
.button_4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_4__click{
  display: none;
}

.but_4{
  width: 168px;
  height: 64px;
  background: #18CFAB;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  margin-top: 67px;
  cursor: pointer;
}

.section_4{
  width: 100%;
  height: 958px;
}

.newsSection{
  width: 1140px;
  height: 644px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 68px;
}

.phototype{
  width: 263px;
  height: 208px;
}

.txt{
  font-weight: 700;
  font-size: 17.9885px;
  color: #717171;
  margin-bottom: 53px;
}

.section_5{
  width: 100%;
  height: 853px;
  background-image: url(Sections/section-3.jpg);
}

.lastheadline{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 95px;
}

.headline_3{
  font-weight: 400;
  font-size: 36px;
  color: #FFFFFF;
}

.underline{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 67px;
}

.styleLine_2{
  width: 44px;
  height: 30px;
}

.paragraph{
  width: 1060px;
  height: 45px;
  margin: 0 auto;

}

.txt_paragraph{
  font-weight: 300;
  font-size: 16px;
  color: #BBBBBB;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 36px;
}

.chosen_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.chosen_icon_main{
  width: 143px;
  height: 142px;
}

.line_images{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 57px;
  column-gap: 35px;
}
