$main_txt_color:#4E4E4E;
$secondary_txt_color: #7C7C7C;
$third_txt_color: #5C5C5C;
$footer_txt_color: #FEFEFE;
$last_footer_txt_color:#B9B9B9;

$main_txt_color_hover: #57A4A4;

$tablet: 760px;
$desktop: 1160px;

