* {
  text-decoration: none;
  font-family: "Roboto";
  font-style: inherit;
}

body {
  display: block;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.main_img {
  width: 1170px;
  margin: 0;
  padding: 5px 0 50px 0;
}

.button {
  display: none;
}

.img {
  width: 100%;
  height: 100%;
}

.nav {
  display: block;
  width: 1170px;
  height: 55px;
  margin: 0;
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  height: 55px;
  padding: 0;
}
.nav_list__item {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #4E4E4E;
  margin: 0;
  font-size: 11px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  list-style: none;
  padding-right: 68px;
}
.nav_list__item:first-of-type {
  margin-left: 88px;
}

.menu_burger {
  display: none;
}

.main_info {
  margin: 0;
  padding: 0;
}
.main_info__content {
  width: 1165px;
  height: 315px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}
.main_info__main_header {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main_info__post1 {
  width: 555px;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main_info__context {
  width: 390px;
  height: 140px;
  margin-left: 21px;
}
.main_info__header {
  font-weight: 700;
  font-size: 16px;
  color: #4E4E4E;
  margin-bottom: 5px;
}
.main_info__text {
  font-weight: 400;
  font-size: 12px;
  color: #7C7C7C;
  margin-bottom: 15px;
}
.main_info__under-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #5C5C5C;
  display: flex;
  margin-top: 14px;
}

.last {
  width: 1170px;
  height: 387px;
  margin-top: 90px;
}

.last_section__latest_instshots {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #4E4E4E;
}

.last_section__go_to_inst {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  margin-right: 5px;
  text-align: right;
}

.last_section {
  width: 100%;
  height: 100%;
}
.last_section__img {
  width: 285px;
  height: 285px;
}

.footer {
  width: 1170px;
  height: 355px;
  background-color: black;
  margin: 0;
}
.footer__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__header_text {
  color: #FEFEFE;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 60px;
}
.footer__text {
  margin: 0 auto;
  margin-top: 22px;
  width: 684px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text_content {
  color: #B9B9B9;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.footer_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 34px;
  margin: 0 auto;
  margin-top: 37px;
}

@media (max-width: 1160px) {
  body {
    width: 100vw;
    height: 100%;
    margin: 0;
  }
  .nav {
    display: block;
    width: 100%;
    height: 55px;
    margin: 0;
  }
  .nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0;
  }
  .nav_list__item {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #4E4E4E;
    margin: 0;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    list-style: none;
    padding-right: 34px;
  }
  .nav_list__item:first-of-type {
    margin-left: 28px;
  }
  .img {
    width: 100vw;
    height: 100%;
  }
  .menu_burger {
    display: none;
  }
  .main_info {
    width: 760px;
  }
  .main_info__content {
    width: 100vw;
    height: 655px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  .main_info__post1 {
    display: flex;
    margin-left: 5px;
  }
  .last {
    width: 100vw;
    height: 347px;
    margin: 0;
    margin-top: 100px;
  }
  .last_section {
    width: 100%;
    height: 249px;
    margin: 0 auto;
  }
  .last_section__img {
    width: 249px;
    height: 249px;
  }
  .last_section__img:last-of-type {
    display: none;
  }
  .footer {
    width: 100vw;
    height: 332px;
    margin: 0;
  }
}
@media (max-width: 760px) {
  body {
    max-width: 420px;
    height: 100%;
    margin: 0;
  }
  .nav {
    width: 100%;
    height: 47px;
  }
  .button {
    display: block;
    position: relative;
    width: 26px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 34px;
    background-color: #fff;
  }
  .show_menu {
    display: none;
  }
  .show_menu_active {
    display: block;
  }
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 22px;
    height: 18px;
  }
  .menu__burger span,
.menu__burger::before,
.menu__burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu__burger::before,
.menu__burger::after {
    content: "";
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__burger_active {
    display: none;
  }
  .close_menu {
    display: none;
  }
  .close_menu--active {
    display: block;
    z-index: 5;
    position: relative;
    width: 22px;
    height: 18px;
    cursor: pointer;
    width: 1em;
    height: 1em;
    background-color: black;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
  .nav_list {
    z-index: 2;
    overflow: auto;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 57px;
    left: 30px;
    width: 182px;
    height: 218px;
    background-color: rgb(238, 235, 235);
    transition: left 0.3s ease 0s;
    padding: 0 auto;
    margin: 0;
  }
  .nav_list__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-bottom: 1px;
  }
  .nav_list__item:first-of-type {
    margin-left: 0px;
  }
  .nav_list__item:hover {
    background-color: rgb(161, 151, 151);
    color: white;
  }
  .main_info {
    width: 100vw;
  }
  .main_info__content {
    width: 100%;
    height: 625px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
  }
  .main_info__main_header {
    margin-left: 15px;
  }
  .main_info__post1 {
    display: flex;
    margin-left: 5px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main_info__post1:last-of-type {
    display: none;
  }
  .main_info__under_text {
    display: none;
  }
  .main_info__photo {
    margin-left: 15px;
  }
  .main_info__header {
    margin-top: 11px;
  }
  .img {
    width: 100vw;
    height: 100%;
    padding: 0 0 30px 0;
  }
  .last {
    width: 100vw;
    height: 416px;
    margin: 0;
    margin-left: 25px;
    margin-top: 150px;
  }
  .last_section {
    width: 100%;
    height: 386px;
    margin: 0;
  }
  .last_section__img {
    display: none;
  }
  .last_section__img:first-of-type {
    margin: 0;
    width: 310px;
    height: 310px;
    display: block;
  }
  .last_section__latest_instshots {
    margin: 90px 0 25px 5px;
    font-size: 14px;
  }
  .last_section__go_to_inst {
    display: none;
  }
  .footer {
    width: 100vw;
    height: 315px;
  }
  .footer__header_text {
    font-size: 14px;
  }
  .footer__text {
    width: 303px;
    height: 52px;
  }
  .footer__text_content {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    justify-content: center;
  }
}